html,
body {
  cursor: url(../public/imgs/arrow.png) 30 30, auto;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    background-image: url("../public/imgs/laura-vinck-Hyu76loQLdk-unsplash-compress.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #ffc9c9;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#sign-out {
  position: fixed;
  width: 3rem;
  height: 3rem;
  right: 0;
  filter: invert(100%) sepia(3%) saturate(482%) hue-rotate(254deg) brightness(116%) contrast(100%);
  transition: all 10ms ease;
}

#sign-out:hover {
  cursor: pointer;
  filter: invert(67%) sepia(73%) saturate(551%) hue-rotate(306deg) brightness(96%) contrast(108%);
}
